application.log
build
out
.idea
.gradle
.kotlin
video/
screenshots/
gui-parameters/
ffmpegOutput.txt
ShaderError.glsl

/data/gtfs-nl.zip
/data/gtfs-static/
/data/hilversum-static-data/
/data/gtfs-realtime/
